<div class="p-grid forget-component" style="margin-top: 3.5em;">

    <div
        class="p-offset-1 p-sm-offset-2 p-md-offset-3 p-lg-offset-4 p-xl-offset-4 p-col-10 p-sm-8 p-md-6 p-lg-5 p-xl-4">

        <div class="ui-fluid">
            <div class="ui-g">

                <div class="ui-g-12 ui-md-12 register-logo">
                    <img src="assets/logo.svg" alt="Login page Logo">
                </div>

                <div class="ui-g-12 ui-md-12" [ngClass]="{'addBlur': showLoader == true }">
                    <form #forgetPasswordForm='ngForm' (ngSubmit)="callForgetForm(forgetPasswordForm)" novalidate>
                        <p-progressBar mode="indeterminate" *ngIf="showLoader"></p-progressBar>

                        <div *ngIf="!sentMail" class="ui-g-12 ui-md-12 main-content">
                            <div class="ui-g-12 ui-md-12 register-header">
                                Forget Password
                            </div>

                            <div class="ui-g-12 ui-md-12 inside-content" style=" position: relative;">
                                <input type="email" #remail="ngModel" [(ngModel)]='email'
                                    [ngClass]="{ 'input-error': forgetPasswordForm.submitted && remail.invalid }"
                                    name="email" ngModel required email placeholder="Email" [disabled]="showLoader">
                                <span class="ui-inputgroup-addon show-icon input-icon"
                                    [ngStyle]="{'top': remail.invalid ? '30px' : '30px' }">
                                    <i class="pi pi-user"></i>
                                </span>
                                <div *ngIf="forgetPasswordForm.submitted && remail.invalid && remail.errors.required"
                                    class="error-txt"> <i class="pi pi-exclamation-circle"></i> <span>Email is
                                        required.</span></div>
                                <div *ngIf="remail.invalid && !remail.errors.required" class="error-txt"> <i
                                        class="pi pi-exclamation-circle"></i><span>Please enter a
                                        valid
                                        email address.</span></div>

                            </div>


                            <div class="ui-g-12 ui-md-12 inside-content">
                                <button pButton type="submit" class="ui-button-secondary" label="Submit"
                                    [disabled]="showLoader">
                                </button>
                            </div>


                            <div class="ui-g-12 ui-md-12 signin-content">
                                <span>
                                    Already have an account? <span class="siginin-link"> <a
                                            routerLink="/login">Signin</a> </span>
                                </span>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12 main-content" *ngIf="sentMail">
                            <div class="ui-g-12 ui-md-12 register-header">
                                Forget Password
                            </div>
                            <div class="ui-g-12 ui-md-12 inside-content success-txt" style="text-align: center;margin-bottom: 50px;">
                                <i class="pi pi-check-circle"></i><span style="position: initial;">We sent
                                    you an email.</span>
                            </div>

                            <div class="ui-g-12 ui-md-12 signin-content">
                                <span>
                                    Already have an account? <span class="siginin-link"> <a
                                            routerLink="/login">Signin</a> </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>